{#
Copyright 2000-2018 JetBrains s.r.o.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME = properties['baseName'] + '-' + env['name'] %}
{% set REGION = properties['zone'][:-2] %}

resources:
- name: {{ BASE_NAME }}
  type: compute.v1.network

- name: {{BASE_NAME}}-subnet
  type: compute.v1.subnetwork
  properties:
    network: $(ref.{{ BASE_NAME }}.selfLink)
    ipCidrRange: properties['ipCidrRange']
    region: {{ REGION }}
    zone: properties['zone']

- name: {{ BASE_NAME }}-allow-http
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ BASE_NAME }}.selfLink)
    priority: 1000
    sourceRanges: properties['secureIps']
    allowed:
      - IPProtocol: TCP
        ports: ["80"]
    targetTags:
    - http-server

{%- if properties['enableHttps'] %}
- name: {{ BASE_NAME }}-allow-https
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ BASE_NAME }}.selfLink)
    priority: 1000
    sourceRanges: properties['secureIps']
    allowed:
      - IPProtocol: TCP
        ports: ["443"]
    targetTags:
    - https-server
{%- endif %}

- name: {{ BASE_NAME }}-allow-ssh
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ BASE_NAME }}.selfLink)
    priority: 65534
    sourceRanges: properties['secureIps']
    allowed:
      - IPProtocol: TCP
        ports: ["22"]
    targetTags:
    - ssh-server

outputs:
  - name: name
    value: $(ref.{{ BASE_NAME }}.name)
