{#
Copyright 2000-2018 JetBrains s.r.o.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set SUFFIX = '-account' %}
{% set BASE_NAME = properties['baseName'][:30-SUFFIX|length] + SUFFIX %}

resources:
- name: {{ BASE_NAME }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ BASE_NAME }}
    displayName: TeamCity service account

- name: get-iam-policy-to-set-roles
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  metadata:
    dependsOn:
    - {{ BASE_NAME }}
    runtimePolicy:
    - UPDATE_ALWAYS
  properties:
    resource: {{ env['project'] }}

- name: set-account-roles
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy-to-set-roles)
    gcpIamPolicyPatch:
      add:
      - role: "roles/cloudsql.client"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)
      - role: "roles/viewer"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)
      - role: "roles/compute.instanceAdmin.v1"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)
      - role: "roles/storage.objectAdmin"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)
      - role: "roles/iam.serviceAccountTokenCreator"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)
      - role: "roles/owner"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)

- name: get-iam-policy-to-delete-role
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  metadata:
    dependsOn:
    - {{ properties['baseName'] }}-waiter-software
    runtimePolicy:
    - UPDATE_ALWAYS
  properties:
    resource: {{ env['project'] }}

- name: delete-account-role
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy-to-delete-role)
    gcpIamPolicyPatch:
      remove:
      - role: "roles/owner"
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)

outputs:
  - name: email
    value: $(ref.{{ BASE_NAME }}.email)
