

{% set BASE_NAME = properties['baseName'] + '-' + env['name'] + '-' + env['project_number'] %}
{% set LOCATION = properties['zone'][:-2] %}

resources:
- name: {{ BASE_NAME }}
  type: storage.v1.bucket
  properties:
    location: {{ LOCATION }}

outputs:
- name: bucket
  value: $(ref.{{ BASE_NAME }}.name)
