{#
Copyright 2000-2018 JetBrains s.r.o.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME = env['deployment'][:40] %}

{%- if not properties['domainName'] %}
  {%- set ENABLE_HTTPS = false %}
{%- else %}
  {%- set ENABLE_HTTPS = true %}
{%- endif %}

resources:
- name: database
  type: database.jinja
  properties:
    baseName: {{ BASE_NAME }}
    zone: {{ properties['zone'] }}
    size: {{ properties['installationSize'] }}

{%- if not properties['network'] %}
- name: network
  type: network.jinja
  properties:
    baseName: {{ BASE_NAME }}
    enableHttps: {{ ENABLE_HTTPS }}
    region: {{ properties['zone'][:-2] }}
    ipCidrRange: properties['ipCidrRange']
{%- endif %}

{%- if not properties['serviceAccount'] %}
- name: service-account
  type: service-account.jinja
  properties:
    baseName: {{ BASE_NAME }}
{%- endif %}

{%- if properties['createStorageBucket'] %}
- name: storage
  type: storage.jinja
  properties:
    baseName: {{ BASE_NAME }}
    zone: {{ properties['zone'] }}
{%- endif %}

- name: vm
  type: virtual-machine.jinja
  properties:
    baseName: {{ BASE_NAME }}
    zone: {{ properties['zone'] }}
    teamcityVersion: {{ properties['version'] }}
    ipAddress: {{ properties['ipAddress'] }}
    enableHttps: {{ ENABLE_HTTPS }}
{%- if ENABLE_HTTPS %}
    domainName: {{ properties['domainName'] }}
    domainOwnerEmail: {{ properties['domainOwnerEmail'] }}
{%- endif %}
{%- if properties['network'] %}
    network: {{ properties['network'] }}
{%- else %}
    network: $(ref.network.name)
{%- endif %}
    subnetwork: {{ properties['subnetwork'] }}
    ipCidrRange: {{ properties['ipCidrRange'] }}
    size: {{ properties['installationSize'] }}
{%- if properties['serviceAccount'] %}
    serviceAccount: {{ properties['serviceAccount'] }}
{%- else %}
    serviceAccount: $(ref.service-account.email)
{%- endif %}
    database:
      instance: $(ref.database.instance)
      name: $(ref.database.name)
      user: $(ref.database.user)
    waiter:
      name: $(ref.waiter.name)
      config: $(ref.waiter.config)

- name: waiter
  type: waiter.jinja
  properties:
    baseName: {{ BASE_NAME }}
    ipAddress: $(ref.vm.ip)
    enableHttps: {{ ENABLE_HTTPS }}

outputs:
- name: teamcityUrl
{%- if ENABLE_HTTPS %}
  value: https://{{ properties['domainName'] }}
{%- else %}
  value: http://$(ref.vm.ip)
{%- endif %}
- name: teamcityIpAddress
  value: $(ref.vm.ip)
