

{% set BASE_NAME = properties['baseName'] + '-' + env['name'] %}

resources:
- name: {{ BASE_NAME }}-config
  type: runtimeconfig.v1beta1.config
  properties:
    description: {{ 'Holds software readiness status for deployment ' + env['deployment'] }}
    config: {{ BASE_NAME }}-config

- name: {{ BASE_NAME }}-software
  type: runtimeconfig.v1beta1.waiter
  metadata:
    dependsOn:
    - {{ properties['baseName'] + '-vm' }}
  properties:
    parent: $(ref.{{ BASE_NAME }}-config.name)
    waiter: {{ BASE_NAME }}-software
{%- if properties['enableHttps'] %}
    timeout: 3600s
{%- else %}
    timeout: 3600s
{%- endif %}
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1

outputs:
- name: name
  value: {{ BASE_NAME }}-software
- name: config
  value: $(ref.{{ BASE_NAME }}-config.name)
