{#
Copyright 2000-2018 JetBrains s.r.o.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME = properties['baseName'] + '-' + env['name'] %}

resources:
- name: {{ BASE_NAME }}-config
  type: runtimeconfig.v1beta1.config
  properties:
    description: {{ 'Holds software readiness status for deployment ' + env['deployment'] }}
    config: {{ BASE_NAME }}-config

- name: {{ BASE_NAME }}-software
  type: runtimeconfig.v1beta1.waiter
  metadata:
    dependsOn:
    - {{ properties['baseName'] + '-vm' }}
  properties:
    parent: $(ref.{{ BASE_NAME }}-config.name)
    waiter: {{ BASE_NAME }}-software
{%- if properties['enableHttps'] %}
    timeout: 1800s
{%- else %}
    timeout: 600s
{%- endif %}
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1

outputs:
- name: name
  value: {{ BASE_NAME }}-software
- name: config
  value: $(ref.{{ BASE_NAME }}-config.name)
